Binaries
DerivedDataCache
Intermediate
Saved
Content/StarterContent
Content/Characters
Content/LevelPrototyping
Content/ThirdPerson
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Collections
Content/Developers
Content/Fab
Content/LAB
Content/MSPresets
Content/AnimStarterPack
Content/SCPEXODUS/TEST
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace