Binaries
DerivedDataCache
Intermediate
Saved
Contents/Characters
Contents/Level Prototyping
Contents/ThirdPerson
Contents/__ExternalActors__
Contents/__ExternalObjects__
Contents/Collections
Contents/Developers
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace